body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    animation: fadeInDown 0.5s ease-out;

}

label {
    display: block;
    margin-bottom: 10px;
    color: #ccc;
}

input[type="text"],
select,
textarea {
    width: calc(100% - 24px); /* Réduire la largeur pour compenser le padding */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
    border-color: #5cb85c;
}

textarea {
    resize: none;
    min-height: 120px;
}

button[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

button[type="submit"]:focus {
    outline: none;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
}

/* Responsive design */
@media (max-width: 600px) {
    form {
        width: 90%;
    }
}
