.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    transition: transform 1s ease; /* Pour une rotation douce */
}
.center {
    text-align: center;
}
.center input {
    display: block;
    margin: 0 auto;
}
.theme, .turn-info, .timer {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}
.player-list {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}
#game-input {
    text-align: center;
    font-size: 24px;
    width: 100%;
    max-width: 500px;
}