<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
    <link rel="stylesheet" href="/css/formulaire.css">
</head>
<body>
    <div class="container">
        <h1>Une idée captivante à proposer !?</h1>
        <div class="form-container">
            <form action="/formulaire" method="POST">
                <label for="name">Titre :</label>
                <input type="text" id="name" name="name" placeholder="Votre idée en quelque mots" required>

                <label for="option">Choisissez une option :</label>
                <select id="option" name="option" required>
                    <option value="">Sélectionnez une option</option>
                    <option value="option1">Nouvelle mécanique</option>
                    <option value="option2">Liste d'entités</option>
                    <option value="option3">Idée de nouveau jeu</option>
                    <option value="option4">Report de bug</option>
                </select>

                <label for="message">Message :</label>
                <textarea id="message" name="message" required></textarea>

                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
</body>
</html>