<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu en ligne</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
    <div class="container">
        <h1>Bienvenue dans le jeu!</h1>
        <p>Game Code: <%= gameCode %></p>
        <div class="game-area" id="game-area"></div>
    </div>

    <script>
        const socket = new WebSocket('ws://localhost:3000');
        const gameCode = '<%= gameCode %>';

        socket.addEventListener('open', function(event) {
            console.log('Connecté au serveur de jeu');
            // Vous pouvez envoyer des messages spécifiques au jeu ici si nécessaire
        });

        socket.addEventListener('message', function(event) {
            const msg = JSON.parse(event.data);
            // Gérer les messages spécifiques au jeu ici
        });

        socket.addEventListener('close', function(event) {
            console.log('Déconnecté du serveur de jeu');
        });

        socket.addEventListener('error', function(event) {
            console.error('Error occurred:', event);
        });
    </script>
</body>
</html>
